**/Temp/
**/Library/
**/obj/
**.csproj
**.idea/
**.sln

**/ProjectVersion.txt

**/PersistentPath/
**/PersistentPath.meta
**/BlockGenPrefabs/
**/BlockGenPrefabs.meta
**/Xcode/
**/JetBrains/
**/JetBrains.meta

*.userprefs
**/AssetBundles/
**/AssetBundles.meta
**/UBlocklyGame.sln.DotSettings.user
